*{
	box-sizing: border-box;
    margin:0;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
}

html{scroll-behavior: smooth;}

body{
	display:grid;
	grid-template-areas: 
    "header"
    "main"
    "footer";
}
p{
    font-size: min(2vw,midium);
   }

section{
    height:minmax(100vh, auto);
    width:100%;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
footer a span:hover{
    font-weight: bold;
}
span{
    display: inline-block;
}
nav a{
    text-decoration: none;
    display: inline-block; /* aのdisplayはinline-block */
    color:aliceblue;
}
/*nav a::after {
	content: "";
	display: block;
    height: 2px;
	width: 0; /* ホバーしていないときは幅0	
	transition: all 0.5s ease;
}*/
/*nav a:hover::after {
	width: 100%; /* ホバーしているときは幅100% 
	height: 1px;
	background-color:aliceblue;
	transition: all 0.5s ease;
}*/

li{
    list-style-type: none;
}
h3{
    color:#191970;
    font-size: small;
    margin-bottom: 0.5em;
}
#header{
    width:100%;
    background-color: #9090aa;
    text-align:left;
}
div#header_image{
    position: relative;
    height:100px;
    width:100%;
    background-color: #9090aa;
    background-image: url(../pic/haikei.png);
    background-size: 100vw 150px;
    background-position:middle;
    background-repeat: no-repeat;

}

div#header_image p{
    position:absolute;
    top:20px;
    left:25%;
    transform:rotate(355deg)
}
.header_menu{
    display: flex;
    font-size: large;
    width: 100%;
    color: black;
    font-family: 'Hiragino Sans'/*Mac*/,'Yu Gothic UI'/*Windows*/,'Meiryo UI',sans-serif;
    padding-left: 2em;
}
header h1{
    font-size: min(6vw, 2em);
    position:absolute;
    top:36px;
    left:25vw;
    font-family: 'Zen Maru Gothic', sans-serif;
}


.menu_item{
    font-size: small;
    padding-top:0.5em;
    padding-left: 2em;
}
#introduction{    
    font-family: 'Zen Maru Gothic', sans-serif;
    width: min(95vw,1050px);
    display: inline-block;
}
#introduction >p{
    text-align: left;
}

#kouhosha_list{
    height:60vh;
    background-color:#333;
}
div#candidate_profile, div#comparison_lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height:auto;
}
p.name{
    font-size: min(2.8vw,1.1em);
    padding-bottom: 2px;
}
div#candidate_profile img, div#comparison_lists img{
    width:8vw;
    clip-path: circle();
}
#candidate_profile , #comparison_lists> div{
    border:solid #666;
    border-width: 1px;
    border-radius:10px;
}
#candidate_profile > div > div{
    margin: 0 0 1em 0;
    font-weight: 600;
    line-height: 0.9em;
}
#candidate_profile > div > div a{
    font-size: X-small;
    font-weight: 300;
}
div.Q1{
    font-size: smaller;
    font-family: 'Zen Maru Gothic', sans-serif;
    clip-path: polygon(2% 0, 98% 0, 98% 84%, 85% 84%, 51% 100%, 64% 85%, 2% 84%);
    padding-bottom: 1em;
    background-color: #9090aa;


} 

input {
    font-size: min(2vw,1em);
  }

div#contents > img{
    height: 30vh;
}
div#contents > div {
    min-height: 2em;    
    text-align: left;
    text-indent: 1em;
}

div#contents >.style_9, div#contents >.style_11, div#contents >.style_13, div#contents >.style_14, div#contents >.style_16, div#contents >.style_17, div#contents >.style_18, div#contents >.style_19, div#contents >.style_21{
    /*background: #eee;*/    
    color: #191970;
    font-weight: bold;
    text-indent: 0em;
    /*clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 88%, 0 82%, 4% 69%, 4% 0);*/
}
div#contents >.style_14,div#contents >.style_19{
    font-size: smaller;
    font-weight: lighter;
}
div#contents >.style_17,div#contents >.style_18{
    display: inline;
}
div.no{
    font-size: small;
    color:#191970;
}
div.question{
    font-size: small;
    color:#191970;
}



div#contents p{
    display:inline-block;
    padding-left: 5vw;
    text-align: left;
}

footer{
    width:100vw;
    background-color: #666;
    color:#fff;
    display:grid;
    grid-template-areas: 
      "top"
      "menu"
      "copyright";
    text-align: center;
    height: min-content;
}
.footer_top{
    grid-area:top;
    line-height: 2em;
    background-color: #333;
}
h4{ /*footerメニュー*/
    color: #ccc;
    line-height: 2.5em;
}
.footer_menu a{
    line-height: 1em;
    padding:0.5em 0em 0.2em 0em;
}
div.footer_copyright{
    grid-area: copyright;
}





.circle{
    clip-path:circle(40%);
}
.curve{
    position: absolute;
    bottom: 37vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.curve_2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.arrow{
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.arrow_text{
    position:absolute;
    bottom:0;
    right:0;
    padding-right: 1em;
    color:aliceblue;
}