@charset "UTF-8";
*{
    font-size: 1em;
    font-family:'Hiragino Sans','Yu Gothic UI','Meiryo UI',sans-serif; 
    line-height: 2em;
}
.nav_menu,.footer-menu2{
    display:flex;
    list-style: none;
    padding: 1em 2em;
    background-color: #666;
}
a,a:link,a:visited{
    color:#fff
}




@media screen and (min-width:768px){/*スマホ以外のレイアウト*/
    #kucho{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap:0.2em;
        grid-template-areas:
          "main main main main main"
          "main main main main main "
          "iframe iframe iframe iframe iframe"
          "footer footer footer footer footer";
}
.footer{
    grid-area: footer;
    margin:auto    
}
#spreadsheet{
    grid-area:iframe;
    width: 100vw;
    height:1200vh
}
iframe{
    width:100vw;
    height:1200vh
}
}
@media screen and (max-width:768px){
#kucho{ /*スマホ*/
    position:absolute;
    display:grid;
    column-gap: 1em;
    row-gap:0.2em;
}
}

div.top{
    background-image: url(../pic/top.png);
    height: 30vh;
    background-size: 100% auto;
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
}
@media screen and (max-width:768px){
	div.top{
		background-image: url(../pic/top-sumaho.png);
		height: 30vh;
		background-size: 100% auto;
		background-position: bottom;
		background-repeat: no-repeat;
	}
}
img.circle{/*候補者の顔を切り取る図形*/
    clip-path:ellipse(40% 50% at 50% 50%);
    width:30vh
}
img.mycircle{/*候補者の顔を切り取る図形*/
    clip-path:ellipse(40% 50% at 50% 50%);
    width:30vh
}

ul.footer-menu{ /*フッターの表示*/
    display:flex;
    list-style: none;
    padding-top: 1em;
}

h1{
    font-size: x-large;
}
h1.style-2{
	font-family:"Hiragino Maru Gothic Pro", "メイリオ", sans-serif;
	font-size: x-large;
}






.col-md-60{
    position:relative;
    border: 2px solid;
    border-color: #aaa;
    text-align: center;
    border-radius: 1em;
}

div.mycol-1{ /*名前*/
    font-size:x-large;    
}

div.mycol-3,div.mycol-5,div.mycol-7,div.mycol-9,div.mycol-10,div.mycol-12,div.mycol-13,div.mycol-16,div.mycol-19{/*質問*/
    background-color:#eee;
    font-weight: bold;
}




