@charset "UTF-8";
*{
    font-size: 1em;
    font-family:'Hiragino Sans','Yu Gothic UI','Meiryo UI',sans-serif; 
    line-height: 2em;
}
div.top{
    background-image: url(pic/top.png);
    height: 50vh;
    background-size: cover;
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
}

h1{
    font-size: xx-large;
}

/*アコーディオン*/
.acd-check, .acd-check0,.acd-check1,.acd-check2,.acd-check3{
    display: none;
}
.acd-label{
    background: #eee;
    color: #000;
    display: block;

}
.acd-content{
    height: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.acd-check0:checked + .acd-label + .acd-content{    
    opacity: 1;
    visibility: visible;
    height:fit-content
}
.acd-check1:checked + .acd-label + .acd-content{
    opacity: 1;
    visibility: visible;
    height:fit-content
}
.acd-check2:checked + .acd-label + .acd-content{
    opacity: 1;
    visibility: visible;
    height:fit-content
}
.acd-check3:checked + .acd-label + .acd-content{
    opacity: 1;
    visibility: visible;
    height:fit-content
}
.acd-check4:checked + .acd-label + .acd-content{
    opacity: 1;
    visibility: visible;
    height:fit-content
}

/*アコーディオン終わり*/





.col-md-60{
    position:relative;
    border: 2px solid;
    border-color: #aaa;
    text-align: center;
    border-radius: 1em;
}

div.mycol-1{
    font-size:x-large;    

}

div.mycol-3,div.mycol-5,div.mycol-7,div.mycol-9,div.mycol-10,div.mycol-12,div.mycol-13{
    background-color:#eee;
    font-weight: bold;
}


ul.footer-menu{ /*フッターの表示*/
    display:flex;
    list-style: none;
    padding-top: 1em;
}

@media screen and (min-width:768px){
    #kucho{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap:0.2em;
        grid-template-areas:
          "main main"
          "main main"
          "footer footer";
}
.footer{
    grid-area: footer;
    margin:auto    
}


#kucho{
    position:absolute;
    display:grid;
    column-gap: 1em;
    row-gap:0.2em;
}


 
div.jimin{
    position:relative;
    border: 2px solid;
    border-color: #aaa;
    text-align: center;
    border-radius: 1em;
}
div.minshu{
    position:relative;
    border: 2px solid;
    border-color: #aaa;
    text-align: center;
    border-radius: 1em;
}
div.kyosan{
    position: relative;
    border: 2px solid;
    border-color: #aaa;
    text-align: center;
    border-radius: 1em;
}
img{
    width:20vw
}
.circle{
    clip-path:circle(40%);
    width:20vh
}
